<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaATM.Properties.Settings.masterConnectionString"
            connectionString="Data Source=LEON-PC\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaATM.Properties.Settings.masterConnectionString1"
            connectionString="Data Source=LEON-PC\SQLEXPRESS;Initial Catalog=master;User ID=sa;Password=SQLServer13"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>